*{
	margin: 0;
	padding: 0;
	font-family: 'Crimson Text', serif;;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(1.jpg);
	background-position: center;
	background-size: cover; 
	position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 230px;
	
}
.bar{
	flex: 1;
	text-align: right;
}
.bar ul li{
	list-style: none;
	display: inline-block;
	padding: 4px 8px;
	position: relative;
}
.bar ul li a{
	 color: white;
    text-decoration: none;
    font-size:16px;
    font-family:'Overpass', sans-serif;
}
.bar ul li ::after{
	content: "";
	width: 0%;
	height: 3px;
	background:#ff9900;
	display: block;
	margin: auto;
	transition: .5s;
}
.bar ul li :hover::after{
	
	width: 100%;
}
.home a{
 color: #ff9900!important; 
}
.prof a{
 color: #ff9900!important; 
}
.quot a{
 color: #ff9900!important; 
} 
.book a{
 color: #ff9900! important;	
}
.gallery a{
	color: #ff9900! important;
}
.hon a{
	color: #ff9900! important;
}
.text{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-40%);
	text-align: center;
}
.text h1{
	font-size: 70px;
	font-family: 'Paytone One', sans-serif;
}
.text p{
	font-size: 26px;
	color: #FFD700;
}
.text  em{
	margin: 10px 0 40px;
	font-size:  22px;
}
.text-by p{
	font-size: 18px;
	position: absolute;
	top:71%;
	right: 32%;
	color: white
}

.hero{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border:1px solid #fff;
	padding: 12px 34px;
	font-size: 16px;
	background:transparent;
	position: relative;
	cursor: pointer;
}
.hero:hover{
	border:1px solid #ff9900;
	background: #ff9900;
	transition: .5s;
}
.course{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
   font-size:36px;
   font-weight: 600; 	 
}
p{
	color: #777;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.course p{
	font-size: 20px;
	font-weight: 400;
}
.row {
	margin-top: 5%;
	display:flex;
	justify-content: space-between;
}
.course-col{
	flex-basis: 31%;
	background:   #ffd699;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}
.course-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);

}

.books{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.books-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5px;
	text-align: center;
}
h1{
	font-size: 50px;
}
.books p{
	font-size: 20px;
	font-weight: 400;
}
.books h3{
	font-size: 26px;
}
.books-col img{
	width: 80%;
	border-radius: 10px;
}
.time{
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(6.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.time h1{
	color: white;
	font-size: 35px;
}
.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.footer h4{
	margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}
.footer p{
	font-size: 16px;
}
.icons .fa{
	color: #ff9900;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
.fa-heartbeat{
	color: #ff9900
}
/*-----profil---*/
.sub-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(7.jpg);
    background-position:center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
	margin-top: 70px;
}
.profil{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;

}
.profil row{
	display: flex;
justify-content: center;
align-items: center;
	
}
.profil-text h1{
	text-align: center;
	font-size: 43px;
	font-weight: 400; 
}
.profil-text p{
	font-size: 18px;
	font-weight: 400;
}
.profil-img{
	padding-top: 8%;
	padding-right: 0%;
}
/*--------quotes-----*/

.quote-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(9.jpg);
    background-position:center;
    background-size: cover;
    text-align: center;
    color: white;
}
.quote-header h1{
	margin-top: 70px;
}
.course1{
	width: 80%;
	margin: auto;
	text-align: center;
}
p{
	color: #777;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	padding: 8px;
}
.course1 p{
	font-size: 20px;
	font-weight: 400;
}

.course1-col{
	flex-basis: 31%;
	background:   #ffd699;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}
.course1-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);

}
/*----------book---------*/
.book{
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(11.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.book h1{
	color: white;
	font-size: 40px;
}
/*----------gallery----------*/
.gallery-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(12.jpg);
    background-position:center;
    background-size: cover;
    text-align: center;
    color: white;
}
.gallery-header h1{
	margin-top: 70px;
}
.photo-gallery{
	width: 90%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.photo-gallery h1{
	 font-size:45px;
   font-weight: 600;
}
.photo-gallery1{
	width: 90%;
	padding-top: 5%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
.pic{
	position: relative;
	height: 230px;
	border-radius: 10px;
}
.pic img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	filter: grayscale(0);
	transition: filter 1s;
}
.pic img:hover{
	filter: grayscale(1);
}
/*----------honour---------*/
.honour-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(14.jpg);
    background-position:center;
    background-size: cover;
    text-align: center;
    color: white;
}
.honour-header h1{
	margin-top: 70px;
}
.table{
	width: 90%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.table h1{
	 font-size:45px;
   font-weight: 600;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: .5cm;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: left;
  position: relative;
  left: 16%;
}

.content-table thead tr {
  background-color: #ff9900;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #ff9900;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #ff9900;
}
